<!DOCTYPE html>
<html lang="en">
<head>
    <title>Make your opinion known</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://platform.twitter.com/widgets.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="/graph.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
	<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
    }

    svg {
        width: 100%;
        height: 100%;
        position: center;
    }

    text {
        font: 12px sans-serif;
        color: white;
    }
    text.value {
        font-size: 120%;
        fill: white;
    }

    .axisHorizontal path{
        fill: none;
    }

    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }

    .bar {
        fill: steelblue;
        fill-opacity: .9;
    }

	#poll-panel
	{
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		height: 600px;
	}

	#graph
	{
		height: 400px;
		margin-top: 30px;
	}

	#choice-text
	{
		font-size: 20px;
	}
	</style>
</head>
<body>
    <div id="login-panel" class="well">
<% if (loggedIn) 
   { %>
        <span id="welcome-text">
            Welcome, <%= login %></span><br />
        <a href="/logout" id="logout-link">
            Logout</a><br /><br />
<% } %>
		<a href="/">Return to main page</a>
    </div>

    <h2 class="text-center">Make your opinion known!</h2>

	<div id="poll-panel" class="panel panel-default">
		<div class="panel-heading">
			<h3><%= pollName %></h3>
		</div>
		<div class="panel-body">
			<span id="choice-text">
				You voted for <strong><%= choice %></strong>.</span>
			<span id="twitter-button"></span>
			<div id="graph" class="well"></div>
		</div>

</div>
<script>
    $("#twitter-button").html("");
    twttr.widgets.createShareButton("",
        document.getElementById("twitter-button"),
        {
            count: "none",
            text: "<%= pollName %>  I voted for \"<%= choice %>\"."
        });

	$(document).ready(function()
	{
		$.ajax("/getPollData",
		{
			data:
			{
				"poll-name": "<%= pollName %>"
			},
			dataType: "json",
			success: displayVotingResultsGraph,
			error: function()
			{
				window.alert("Could not access database.  Try again later.");
			}
		});
	});
</script>


</body>
</html>
